---
title: Local Welcome
---

<div class="row">
  <div class="col-sm-10 text">
    <p>Local Welcome is a brand new charity* building community and solidarity in the 21<sup>st</sup>&nbsp;century.</p>
    <p>We spent 2016 running test events throughout the UK and in Berlin, connecting small groups of Syrian refugees and local residents to cook and eat together. In 2017 we plan to scale what we have learned.</p>
    <!-- <p>Find out more on <a href="http://blog.local-welcome.org">our blog</a> or find out <a href="/team.html">who we are</a></p> -->
    <p class="sub">*so new we are still in the process of registering with the charity commission</p>

    <p>Find out <a href="/team.html">who we are</a>, read our <a href="http://blog.local-welcome.org">blog</a>, or follow us on <a href="http://twitter.com/localwelcome">twitter</a> or <a href="http://facebook.com/localwelcome">facebook</a>.</p>
  </div>
</div>
