---
title: Local Welcome - Who we are
---
<div class="team_page">
  <h1>The team behind Local Welcome</h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Alice Newton-Rex</h3>
      <h4>Trustee</h4>
      <img src="/images/team/alice_newton-rex.jpeg" />
      <p>Alice Newton-Rex is VP of Product at WorldRemit, a fintech startup that helps migrants send money back to friends and family in Africa, Asia and Latin America. Before that she was a product manager on GOV.UK, and co-wrote the first digital strategy for the Ministry of Justice.</p>
      <p><a href="https://twitter.com/alicenewtonrex">Twitter</a></p>
    </div>

    <div class="col-sm-4">
      <h3>Ben Pollard</h3>
      <h4>Co-founder &amp; Director</h3>
      <img src="/images/team/ben_pollard.jpg" />
      <p>Ben Pollard began his career documenting and supporting displaced communities in Bangladesh, East Africa and Zimbabwe before training as a community organiser in Washington DC and London where he co-founded the Citizens UK campaign to increase Syrian refugee resettlement.</p>
      <p><a href="mailto:ben@local-welcome.org">Email</a></p>
    </div>

    <div class="col-sm-4">
      <h3>Ella Fitzsimmons</h3>
      <h4>Trustee</h4>
      <img src="/images/team/ella_fitzsimmons.png" />
      <p>Ella is a digital strategist and writer. She helps digital teams work out what they do and how they talk about it. She's Swedish and American and has worked in 3 continents, most recently at GDS, Doteveryone and now the Co-op. She recently submitted her PhD thesis about how new communities of Muslim and Orthodox Jewish women are emerging online.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Eva Farina</h3>
      <h4>Project Management Assistant</h4>
      <img src="/images/team/eva_farina.jpg" />
      <p>After a Bachelor’s degree in Linguistic and Cultural Mediation, Eva Farina is currently completing an EMJMD in Inter-Mediterranean Mediation, specializing in migration and cooperation. From her volunteering experience in the Scout Mouvement, she got interested in community building and active citizenship.</p>
    </div>

    <div class="col-sm-4">
      <h3>James Darling</h3>
      <h4>Co-founder &amp; Director</h3>
      <img src="/images/team/james_darling.jpeg" />
      <p>James Darling has over 10 years of experience in the digital sector. He has been Technical Architect of the Labour Party, Head of Software Development at Ministry of Justice, Technical Lead at GOV.UK and Creative Technologist at design consultancy BERG. James also co-founded Rewired State.</p>
      <p><a href="mailto:james@local-welcome.org">Email</a> | <a href="https://twitter.com/abscond">Twitter</a></p>
    </div>

    <div class="col-sm-4">
      <h3>Kate Ivey-Williams</h3>
      <h4>Service Designer</h3>
      <img src="/images/team/kate_ivey.png" />
      <p>Kate is service design lead on GOV.UK at GDS. Before joining the civil service she studied for a Masters in European Design which took her from Glasgow School of Art to Germany and Finland. She then worked at Engine Service Design on a breadth of projects for clients including Dubai Airport, Channel 4, E.ON and Samsung.</p>
      <p><a href="https://twitter.com/KateIW">Twitter</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Maria Izquierdo</h3>
      <h4>Service Designer</h3>
      <img src="/images/team/maria_izquierdo.jpg" />
      <p>Maria is a service designer at the Government Digital Service, currently working on Data Infrastructure. She has a Masters in Design Products from the Royal College of Art, and is interested in diversity, digital culture and wine.</p>
      <p><a href="https://twitter.com/izdo_maria">Twitter</a></p>
    </div>

    <div class="col-sm-4">
      <h3>Martin Dittus</h3>
      <h4>Chair of board of trustees</h3>
      <img src="/images/team/martin_dittus.jpg" />
      <p>Martin has a decade of experience in community organisations and social computing. He is currently completing a PhD at UCL, researching community engagement for the Humanitarian OpenStreetMap Team. He was a director and trustee at the London Hackspace, organiser and facilitator at Occupy London, Hack the Barbican, Electromagnetic Field, the Air Quality Egg DIY sensing community and others, and was a software developer for Last.fm.</p>
      <a href="https://twitter.com/dekstop">Twitter</a>
    </div>
    <div class="col-sm-4">
      <h3>Subhi Barakat</h3>
      <h4>Trustee</h4>
      <img src="/images/team/subhi_barakat.png" />
      <p>Subhi has more than a decade of experience in international law, including human rights, humanitarian law and environmental law. He has worked in law, policy and strategic direction across private, public and charity sectors and within the UN system. He has also been involved with charitable organisations in the UK and Canada. Subhi currently works with the least developed countries to get a fair and ambitious deal for the most vulnerable people in global climate change governance</p>
    </div>
  </div>

  <h2>Advisors</h2>
  <p>Local Welcome has been co-designed with the support from Syrian leaders in the UK including:</p>
  <p>Eiad Zeinah, Nasser Youssef, Adel Golan &amp; Maher Barotchi</p>

  <h2>Alumni</h2>

  <p>We wouldn't be here without help from Alex Pounds and Carmela Francolino</p>
</div>
